.modalImg{
    width: auto;
    height: 250px;
}
.modalTitle{
    width: auto;

}
.modalBox{
    display: flex;
    justify-content: flex-start;
}
.modalSubBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
}