.card-img-top{
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
    margin-bottom: 14px;
}
.card-text{
    font-size: 1.4rem;
    line-height: 2.2rem;
    height: 9rem;
    text-overflow:clip;
    overflow-y: hidden;
    padding: 0 5px;
}
.card-title {
    font-size: 1.8rem;
    font-weight: 600;
}